.back {
  background-image: linear-gradient(#f7b349, #f88a30);
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.cart_container {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  height: 50%;
  width: 50%;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total_container {
  border-radius: 10px;

  background-color: white;
  height: 50%;
  width: 25%;
  margin: 10px;
  padding: 20px;
}

#img {
  border-radius: 10px;
  width: 300px;
  height: 280px;
  object-fit: cover;
  /* margin-left: 20px; */
}

.text_container {
  margin-left: 15px;
  width: 100%;
}
.promo_container {
  width: 100%;
  border: 1px solid #c7c7c7;
  padding: 5px;
  border-radius: 10px;
}
#promo {
  border: none;
  outline: none;
  width: 75%;
}

#remove {
  margin-top: 10px;
  cursor: pointer;
  border: 1px solid #c7c7c7;
  padding: 10px;
  border-radius: 10px;
  width: 160px;
}
#remove i {
  margin-right: 10px;
}

.promo_container button {
  border: none;
  outline: none;
  background-color: #f88a30;
  color: white;
  padding: 5px;
  width: 23%;
  border-radius: 10px;
}
.product_details {
  margin-top: 25px;
}
.product_details > div {
  display: flex;
  align-items: center;
}

.counter {
  margin: 15px;
}
.value {
  border-bottom: 1px solid #c7c7c7;
}

.value > div {
  margin: 5px 0;
}
#hidden_text_cart {
  display: none;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  font-size: 24px;
  height: 100px;
  position: absolute;
  top: 150px;
}

#grand_total {
  font-size: 24px;
  font-weight: 700;
}
#cart_total {
  font-weight: 500;
  font-size: 18px;
}

.ratings {
  color: #f88a30;
}

.cart_total,
.tax,
.delivery,
.promo,
.sub_total {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 991px) {
  .back {
    flex-direction: column;
  }
}

@media screen and (max-width: 991px) {
  .back {
    height: 1000px;
    align-items: center;
  }
  .cart_container {
    flex-direction: column;
    width: 90%;
    height: auto;
    padding: 10px;
  }

  .text_container {
    padding: 10px;
    margin: 0;
  }

  .product_details > div {
    flex-direction: column;
  }
  .product_details {
    margin-top: 20px;
  }

  .total_container {
    width: 90%;
    height: auto;
  }
}
