.productcard {
  background-color: white;
  width: 60%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.42);
}

#bg1 {
  background-image: linear-gradient(#f7b349, #f88a30);
  height: 100vh;
}

#hidden_text {
  display: none;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  font-size: 24px;
}
.products_container {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_container {
}
.productimg {
  width: 500px;
  height: 100%;
  object-fit: cover;
  margin-right: 20px;
}

body {
  background-color: #eeeeee;
}

.description_title {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #c7c7c7;
}

.description {
  border-bottom: 3px solid #f88a30;
}

.details {
  color: #313131;
  margin-top: 20px;
  width: 100%;
}

.product_details {
  display: flex;
  justify-content: space-between;
}

.product_splitter {
  display: flex;
}
.counter {
  margin-top: 10px;
  background-color: #323232;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  color: white;
  display: flex;
  justify-content: space-around;
}

.counter span {
  cursor: pointer;
}

.wish {
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #323232;
  margin: 10px 0;
  width: 100%;
}

#product_des {
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;
  margin-top: 10px;
}

.left_container {
  display: flex;
  align-items: center;
}

.left {
  margin-top: 10px;
  color: white;
  background-color: green;
  width: 100px;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  margin-right: 20px;
}

.left_error {
  color: red;
  display: none;
}

.left_error i {
  margin-right: 10px;
}

.add_cart {
  padding: 10px;
  border-radius: 5px;
  background-color: #f88a30;
  border: none;
  margin: 10px 0;
  width: 100%;
  color: white;
}

@media screen and (max-width: 991px) {
  #bg1 {
    height: 800px;
  }
  .productcard {
    width: 60%;
    .productimg {
      width: 100%;
      height: 200px;
    }
  }

  .products_container {
    flex-direction: column;
  }

  .product_splitter {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .productcard {
    width: 60%;
  }
}

@media screen and (max-width: 550px) {
  .productcard {
    width: 85%;
  }
}
